NOT NULL Constraint − Ensures that a column cannot have NULL value.

DEFAULT Constraint − Provides a default value for a column when none is specified.

UNIQUE Constraint − Ensures that all values in a column are different.

PRIMARY Key − Uniquely identifies each row/record in a database table.

FOREIGN Key − Uniquely identifies a row/record in any of the given database table.

CHECK Constraint − The CHECK constraint ensures that all the values in a column satisfies certain conditions.

INDEX − Used to create and retrieve data from the database very quickly.


Dropping constraints:
ALTER TABLE EMPLOYEES DROP CONSTRAINT EMPLOYEES_PK;